
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-spotify:before { content: '\f1bc'; } /* '' */
.icon-soundcloud:before { content: '\f1be'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
